.search {
  background-color: #6072ce;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5 rem;
}

.search p {
  color: #dfe1eb;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container button {
  background-color: #192564;
  cursor: pointer;
}
